<div class="container">
    <div class="container" style="height:20px;">
        <h3>{{ this.resultTxtUpdated }}</h3>
    </div>
    <div class="container action" style="height:250px;">
        <div class="row">
            <div class="container d-flex justify-content-around">
                <img [src]="playerImgSrc" class="player-hand img-responsive" [ngClass]="{'player-animation': isProgramRunningUpdated}" alt="Player Action">
                <img [src]="computerImgSrc" class="img-responsive" [ngClass]="{'computer-animation': isProgramRunningUpdated}" alt="Computer action">
            </div>
        </div>
    </div>
</div>
